.navbar {
        position: sticky;
        top: 0;
        z-index: 999;
        padding: 24px 48px;
        font-family: "Montserrat", sans-serif;
        font-size: 1.3rem;
        background-color: white;
}

.navbar-container {
        box-sizing: border-box;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        padding: 0 30px;
        margin: 0 auto;
}

.navbar-logo {
        display: flex;
        gap: 10px;
        align-items: center;
}

.navbar-logo img {
        height: 60px;
}

.navbar-title h1 {
        margin: 0;
        font-size: 20px;
        font-weight: bold;
        color: #0d2b7c;
}

.navbar-title p {
        margin: 0;
        font-size: 16px;
        color: #666;
}

.navbar-links {
        display: flex;
        gap: 30px;
}

.navbar-links a {
        font-size: 1rem;
        font-weight: 500;
        color: #242424;
        text-decoration: none;
        transition: color 0.3s;
}

.navbar-links a:hover {
        color: #000000;
}

.navbar-buttons {
        display: flex;
        gap: 10px;
}

.btn-navbar {
        padding: 8px 16px;
        font-weight: bold;
        cursor: pointer;
        border-radius: 20px;
        transition: all 0.3s;
}

.btn-outline {
        font-family: "Montserrat", sans-serif;
        font-size: 1rem;
        color: #000;
        background: white;
        border: 1.5px solid #10146b;
}

.btn:hover {
        color: white;
        background: #10146b;
        opacity: 0.9;
}
.overlay {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 999;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.5);
}

/* .popup {
  background: #fff;
  border-radius: 10px;
  padding: 20px;
  max-height: 90%;
  overflow-y: auto;
  width: 70%;
} */
